@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h3 {
  margin: 0;
}

img {
  height: 10.41vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
}

.icon-switch {
  display: flex;
  justify-content: flex-end;
  color: rgb(75, 75, 75);
}

/* module */

.cards-module {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  margin-top: 50px;

  background-color: #f5f5f5;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(75, 75, 75);
}

.card-name, .card-btn {
  text-transform: uppercase;
}

.card-name, .card-btn {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.card-name {
  font-size: 1.2vw;
}

/* list */

.cards-list {
  display: flex;
  flex-direction: column;
}

.shop-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;

  background-color: #f5f5f5;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(75, 75, 75);
}

/* general */

.card-name, .card-btn, .item-name, .item-btn {
  text-transform: uppercase;
}

.card-name, .item-name {
  font-size: 1.2vw;
}
